body {
  background: #252525;
}
.titleHeader {
  font-size: 114px;
  color: white;
  font-family: 'Roboto Condensed';
  font-weight: bold;
  text-align: center;
}
.mainInput, .charInput {
  display: inline-block;
  width: 100%;
  line-height: 46px;
  font-size: 30px;
  font-family: 'Roboto Condensed';
  background: rgba(0,0,0,0.3);
  border-radius: 6px;
  border: 1px solid #131313;
  box-shadow: inset 0px 0px 4px 1px rgba(0,0,0,0.1);
  color: white;
  padding: 10px 0px 7px 0px;
  text-align: center;
  outline: none !important;
  text-transform: capitalize;

}
.realmInputWrapper, .charInputWrapper {
  text-align: center;
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin: auto;
  margin-top: 30px;
}

.realmInputWrapper {
  width: 350px;
}

.charInputWrapper {
  width: 350px;
}
#realmInputDropDown {
  display: none;
  width: 100%;
  max-height: 300px;
  overflow: scroll;
  position: absolute;
  background: #252525;
  z-index: 1;
}
#realmInputDropDown.show {
  display: block;
}
#realmInputDropDown div {
  text-transform: capitalize;
}
.app {
  height: 100%;
  width: 100%;
  padding-top: 250px;
  box-sizing: border-box;
}
.realmItem {
  background: #171717;
  color: #757575;
  font-family: 'Roboto Condensed';
  padding: 20px;
  border-top: 1px solid rgba(0,0,0,.5);
  cursor: pointer;
}

.realmItem:hover {
  color: white;
  box-shadow: inset 0 0 0px 1px white;
}

.inputWrapper {
  text-align: center;
}

.regionSelect {
  display: inline-block;
  width: 100%;
  line-height: 46px;
  font-size: 30px;
  font-family: 'Roboto Condensed';
  background: rgba(0,0,0,0.3);
  border-radius: 6px;
  border: 1px solid #131313;
  box-shadow: inset 0px 0px 4px 1px rgba(0,0,0,0.1);
  color: white;
  text-align: center;
  outline: none !important;
  position: relative;
  width: 702px;
  margin: auto;
  display: block;
  margin-top: 10px;
}

.usItem {
  display: inline-block;
  width: 50%;
  color:#757575;
  box-sizing: border-box;
  border: 1px solid #131313;
  border-right: 1px solid rgba(128, 128, 128, 0.27);
  box-sizing: border-box;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  padding-top: 8px;
  padding-bottom: 8px;
  cursor: pointer;
}

.euItem {
  display: inline-block;
  width: 50%;
  color:#757575;
  border: 1px solid #131313;
  box-sizing: border-box;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  padding-top: 8px;
  padding-bottom: 8px;
  cursor: pointer;
}

.usItem.selected, .usItem:hover, .euItem.selected, .euItem:hover {
  color: white;
  border: solid 1px white;
  cursor: initial;
}

.submitButton {
  background: #49ad49;
  display: inline-block;
  padding: 17px;
  font-size: 26px;
  font-family: 'Roboto Condensed';
  padding-left: 70px;
  padding-right: 70px;
  border: 1px solid #006b00;
  color: white;
  text-shadow: 0px 1px black;
  text-transform: uppercase;
  border-radius: 6px;
  box-shadow: inset 0 0 4px 1px rgba(6, 117, 6, 0.89);
  display: inline-block;
  margin-top: 55px;
}

.submitWrapper {
  text-align: center;
}

.dps {
  font-size: 90px;
  font-family: 'Roboto Condensed';
  font-weight: bold;
  color: #ff8600;
  text-align: center;
  margin-top: 45px;
}


.mainInput[input]:not([value=""]),
.charInput:not([value=""]),
{
  border: 1px solid white;
}

.dpsText {
  font-size: 40px;
  font-family: 'Roboto Condensed';
  font-weight: bold;
  color: #ffffff;
}

.simTitle {
  font-size: 74px;
  color: white;
  font-family: 'Roboto Condensed';
  font-weight: bold;
  text-align: left;
  padding-left: 200px;
  box-sizing: border-box;text-transform: uppercase;
}

.dpsSim {
  text-align: center;
}

.sim {
  height: 100%;
  width: 100%;
  padding-top: 50px;
  box-sizing: border-box;
  text-align: center;
}

.dpsNum {
  display: inline-block;
  font-size: 90px;
  font-family: 'Roboto Condensed';
  font-weight: bold;
  color: #ff8600;
  text-align: center;
  margin-top: 45px;
}

.dpsSubText {
  display: inline-block;
  text-align: left;
  margin-left: 5px;
}

.dpsPlusMin {
  display: inline-block;
  font-size: 20px;
  font-family: 'Roboto Condensed';
  color:white;
}

.gearItemThumb {

}

.gearItemThumb img {
  width:30px;
  border-radius: 6px;
  border:1px solid black;
  box-shadow: inset 0 0 5px 2px white;
}

.gearItem, .talentItem {
  display: inline-block;
  position: relative;
  margin-left: 4px;
  margin-right: 4px;
}

.gearItemTooltip, .talentItemTooltip {
  display:none;
  position: absolute;
  top: 40px;
  left:0;
  text-align: left;
  z-index: 2;
}

.gearItemTooltip.show, .talentItemTooltip.show {
  display:block;
}

.itemThumbWrapper {
  display:inline-block;position: relative;
}

.itemThumbWrapperGloss {
  box-shadow: inset 0 0 5px 2px black;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 6px;
  border: 1px solid black;
}

.gearTitle {
  font-size: 36px;
  color: white;
  font-family: 'Roboto Condensed';
  text-align: center;
  margin-top: 66px;
  margin-bottom: 30px;
  background: rgba(0,0,0,0.3);
  border-radius: 6px;
  border: 1px solid #131313;display: inline-block;
  padding: 8px;
  padding-left: 12px;
  padding-right: 12px;

}

.gearWrapper {
  text-align: center;
}

.rotationItem {
  font-size: 16px;
  color: white;
  font-family: 'Roboto Condensed';
  text-transform: capitalize;
}

.rotationString {
  text-align: center;
  max-width: 600px;

  display: inline-block;

}

.rotationWrapper {
  text-align: center;
}

.rotationArrow {
  color:white;
  font-size: 10px;
  position: relative;
  top:-1px;
  color:#ff8600;
}
